body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2vw;
  background-color: #F2E3C9;
}
li:not(.nav-item) {
  padding:10px;
    font-size:20px
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align: center;
  
  
}

h3 {
  color:#32ABD3;
  text-align:center;
  font-size: 75px
}
.text{
 margin-left: 100px;
  margin-right: 100px; 
}
img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px 
}

.nav-item {
padding:0px }
